.hearts{
    width: 70px;
    height: 70px;
}

.pokemon{
    width: 300px;
    height: 300px;
}   

.main{
    background-image: url('../../assets/pokedex.jpg');
    background-attachment: fixed;  
    background-size: cover;
    height: 100%;
}

h1{
    color: white;
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
    
}
