<div class="main">
    <h1>Played {{service.played}}</h1>
    <h1>Wins {{service.wins}}</h1>

    <div style="text-align: center">
        <img src="../../assets/heart.png" class="hearts" *ngIf = "service.hearts > 0 " >
        <img src="../../assets/heart.png" class="hearts" *ngIf = "service.hearts > 1 " >
        <img src="../../assets/heart.png" class="hearts" *ngIf = "service.hearts > 2 " >
    </div>

    <div style="text-align: center">
        <img src="{{service.selectedPokemon.sprites.front_default}}" class="pokemon">
    </div>

    <div style="text-align: center">
        <form [formGroup]="service.pForm">
            <mat-form-field appearance="legacy">
                <mat-label>Guess this pokemon's name</mat-label>
                <input matInput formControlName = "name" (keyup.enter)="onEnter()">
            </mat-form-field>
        </form>
    </div>



</div>